.publish-window{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;
    padding: 18px 63px 39px;
    visibility: hidden;
}
.search-window{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translate(-50%,0);
    z-index: 5;
    padding: 18px 63px 39px;
    visibility: hidden;
}
.header-pow{
    display: flex;
    justify-content: center;
}
#ques-mark{
    padding-bottom: 45px;
}
.creating-container{
   display: flex;
    justify-content: center; 
    align-items: center;
    flex-direction: column;
    margin-bottom: 90px;
}
.creating-template{
    width: 1115px;
    height: 750px;
    background: #FFFFFF;
    border-radius: 20px; 
    margin-bottom: 40px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.creating-template::before{
    content: url("../media/element4.svg");
    position: absolute;
    left: -16%;
    bottom: 90%;
    transform: scale(0.78);
}
.template-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: inherit;
    justify-content: space-evenly;
}
#main-fit-section{
    justify-content: center;
}
.item{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.item img{
    object-fit: contain;
}
.item-actions{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    visibility: visible;
}
.plus-button, .delete-button{
    background:none; 
    display: flex;
    justify-content:center;
    align-items: center; 
    z-index: 1;
}
.plus-button img, .plus-button{
    width: 20px;
    height: 20px;
}
.delete-button img, .delete-button{
    width: 30px;
    height: 30px;
}
.delete-button{
    visibility: hidden;
}
.visible{
    visibility: visible;
}
.hidden{
    visibility: hidden;
}

.template-bar{
    display: flex;
    gap: 30px;
    width: 1115px;
    justify-content: flex-end;
    align-items: center;
}
.template-bar button{
    filter: drop-shadow(-5px 0px 5px rgba(255, 255, 255, 0.25)) drop-shadow(5px 0px 5px rgba(255, 255, 255, 0.25)) drop-shadow(0px 5px 5px rgba(255, 255, 255, 0.25)) drop-shadow(0px -5px 5px rgba(255, 253, 253, 0.25));
}
.create-button{
    width: 212px;
    height: 51px;
    background-color: #FFFFFF;
    font-size: 32px;
    color: black;
}
.down-button{
    background: none;
    width: auto;
}

.tutor-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
}
.tutor-section::before{
    content: url("../media/element1.svg");
    position: absolute;
    left: 0;
    top: 0;
    transform: scale(1.3);
    
}
ol{
    font-family: 'Italiana';
    font-size: 32px;
    text-align: center;
    list-style-position: inside;
    width: 830px;
}
.hat img{
    width: 135px;
}
.shoes img{
    width: 140px;
}
.coat img{
    width:220px ;
}
.top img{
    width: 220px;
}
.bottom img{
    width: 200px;
}
.glasses img{
    width: 140px;
}
.bag img{
    width: 140px;
}