.header-pow{
    display: flex;
    justify-content: center;
}
#ques-mark{
    padding-bottom: 45px;
}
.creating-container{
   display: flex;
    justify-content: center; 
    align-items: center;
    flex-direction: column;
    margin-bottom: 90px;
}
.creating-template{
    width: 1115px;
    height: 713px;
    background: #FFFFFF;
    border-radius: 20px; 
    z-index: -1;
    margin-bottom: 40px;
}

.template-bar{
    display: flex;
    gap: 30px;
    width: 1115px;
    justify-content: flex-end;
}

.create-page h1{
    text-align: center;
}