header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 160px;
    padding-right: 160px;
}
.navigation{
    display: flex;
    justify-content: space-around;
    gap: 30px;
}

.menu-item, .active{
    position: relative;
    width: fit-content;
    transition: all .25s ease; 
    border-bottom: 2px solid transparent;
}
.menu-item:hover {
    border-color: white;
}
.active::before{
    position: absolute;
    right: -20%;
    top: -50%;
    content: url(../media/star-small.svg);
    filter: drop-shadow(-5px 0px 10px rgba(255, 255, 255, 0.25)) drop-shadow(5px 0px 10px rgba(255, 255, 255, 0.25)) drop-shadow(0px -5px 10px rgba(255, 255, 255, 0.25)) drop-shadow(0px 5px 10px rgba(255, 255, 255, 0.25));
}
.active::after{
    position: absolute;
    left: -30%;
    bottom: -45%;
    content: url(../media/star-small.svg);
    filter: drop-shadow(-5px 0px 10px rgba(255, 255, 255, 0.25)) drop-shadow(5px 0px 10px rgba(255, 255, 255, 0.25)) drop-shadow(0px -5px 10px rgba(255, 255, 255, 0.25)) drop-shadow(0px 5px 10px rgba(255, 255, 255, 0.25));
}
