.header{
    display: flex;
    justify-content: center;
    gap: 40px;
}
.filters-container{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin: 0 113px;
}
.properties{
    display: inherit;
    gap: 30px;
}
select{
    background-color: white;
    border-radius: 10px;
    text-align: center;
    font-size: 28px;
    font-family: 'Italiana';
    font-weight: 600;
    padding-left: 5px;
    border: none;
}
option{
    text-align: center;
    padding-left: 5px;
    font-weight: 600;
    font-size: 20px;
}
.colors{
    border-radius: 10px;
    background: white;
    height: 36px;
    width: fit-content;
    margin-top: 26px;
    margin-bottom: 46px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 17px;
    gap:20px;
}

.color-button{
    background: none;
    border: none;
    width: 25px;
    height: 25px;
    border-radius: 50px;
    display: flex;
    justify-content:center;
    align-items: center;
}
.color-img {
    width: 25px;
    height: 25px;
    border-radius: 50px;
    border:2px solid rgb(221, 217, 217);
}
.color-img.active-col {
    border-color:  black; /* Застосуйте стилі рамки за своїми потребами */
}
.empty-text-inspo{
    display: flex;
    justify-content: center;
    font-size: 48px;
}
.empty-text-inspo h1{
    font-size: 52px;
}