.header{
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 55px;
    margin-bottom: 34px;
}
.filters-container{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin: 0 113px;
}
.properties{
    display: inherit;
    gap: 30px;
}
select{
    background-color: white;
    border-radius: 10px;
    text-align: center;
    font-size: 28px;
    font-family: 'Italiana';
    font-weight: 600;
    padding-left: 5px;
}
option{
    text-align: left;
    padding-left: 5px;
}
.colors{
    border-radius: 10px;
    background: white;
    height: 36px;
    width: 542px;
    margin-top: 26px;
    margin-bottom: 46px;
}

.inspo-outfit-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.img-block{
    width: 970px;
    height: 644px;
    background-color: white;
    border-radius: 20px;
}
