
.publish-template{
    width: 454px;
    height: 507px;
    background: #0D092C;
    border: none;
    border-radius: 20px;
}
.publish-img{
    width: 329px;
    height: 227px;
    border: none;
    border-radius: 20px;
}
