
.publish-template{
    height: 473px;
    background: #0D092C;
    border: none;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    z-index: 5;
    padding: 18px 63px 39px;
    position: relative;
    align-items: center;
    gap: 20px;

}
.publish-img{
    width: 100%;
    height: 250px;
    border: none;
    border-radius: 20px;
    margin-top: 18px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.publish-template .exit-button{
    width: 18px;
    height: 18px;
    background: none;
    border: none;
    position: absolute;
    right: 24px;
}
.publish-template .colors{
    margin: 0;
}

.publish-container{
    width: 100%;
    display: flex;
    justify-content: space-between;

}
.publish-button{
    width: 130px;
    height: 34.4px;
    border-radius: 10px;
    font-size: 28px;
    background: radial-gradient(68.31% 478.51% at 50% 50%, #2E4BE7 14.9%, #273FBA 39.9%, #1D3097 71.67%, #192775 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
    color: white;
    filter: drop-shadow(-5px 0px 5px rgba(26, 48, 166, 0.25)) drop-shadow(5px 0px 5px rgba(26, 48, 166, 0.25)) drop-shadow(0px -5px 5px rgba(26, 48, 166, 0.25)) drop-shadow(0px 5px 5px rgba(26, 48, 166, 0.25));
}

.publish-button:hover{
    filter: drop-shadow(-5px 0px 10px rgba(26, 48, 166, 0.25)) drop-shadow(5px 0px 10px rgba(26, 48, 166, 0.25)) drop-shadow(0px -5px 10px rgba(26, 48, 166, 0.25)) drop-shadow(0px 5px 10px rgba(26, 48, 166, 0.25));
}
