.search-container{
    width: 950px;
    background: #D9D9D9;
    border-radius: 20px;
    padding: 15px 0;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.search-filter{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    margin-bottom: 20px;

}
.search-filter .colors{
    margin: 0;
}
.exit-button-search{
    width: 18px;
    height: 18px;
    background: none;
    border: none;
    display: flex;
    align-items: center;
}

.outfit-card img{
    width: 175px;
    height: 175px;
    object-fit: contain;

    background: #fff;
    border: 1px solid #9A9A9A;
    border-radius: 10px;
}
.outfit-card button{
    width: 175px;
    height: 175px;
    background: none;
    border: none;

}

.items-panel{
    max-height: 200px;
    overflow-y: auto;
    overflow-x: hidden;
}