@import url(./css/header.css);

body{
    background-color: #0D092C;
    color: white;
    padding: 0 160px;
}

h3{
    font-family: 'Italiana',serif;
    font-weight: 400;
    font-size: 30px;
    line-height: 35px;
    align-items: center;
}

