@import url(./css/header.css);
@import url(./css/main-page.css);
@import url(./css/footer.css);


body{
    background-color: #0D092C;
    color: white;
    padding-top: 20px;
    background-image: radial-gradient(
            circle farthest-side at var(--x, 100px) var(--y, 100px),
            #3E62DC 0%,
            #292674 50%,
            transparent 100%
          ), url(./media/Noise.png);
}
*{
    margin: 0;
    padding: 0;
}
.page{
    padding-left: 160px;
    padding-right: 160px;
}

h3{
    font-family: 'Italiana',serif;
    font-weight: 400;
    font-size: 30px;
    line-height: 35px;
    align-items: center;
}

.svg{
    filter: drop-shadow(-5px 0px 10px rgba(255, 255, 255, 0.25)) drop-shadow(5px 0px 10px rgba(255, 255, 255, 0.25)) drop-shadow(0px -5px 10px rgba(255, 255, 255, 0.25)) drop-shadow(0px 5px 10px rgba(255, 255, 255, 0.25));
}

h1{
    font-family: 'Cinzel Decorative';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 86px;
    display: flex;
    align-items: center; 
}

p{
    font-family: 'Italiana';
    line-height: 38px;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;

}

button{
    cursor: pointer;
}
